# Logs & Node
/logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
/node_modules/
/dist/
/dist-ssr/
/.vite/
*.local

# Tauri & Rust
/src-tauri/target/
/src-tauri/gen/

# Environment
.env
.env.*.local

# Windows & OS
.DS_Store
Thumbs.db
Desktop.ini
*.sw?

# Editor
/.vscode/*
!/.vscode/extensions.json
/.idea/
/*.sln

# Project Specific / Custom Stuff
/prototyping/
/venv/
/model_exporter/
/tempdb/
/temp_thumbnails/
/src-tauri/src/TODO.txt
*.db
*.db-journal
*.db-wal
bugs.txt
todosuggestions.txt

